@tailwind base;
@tailwind utilities;
@tailwind components;

#__next {
  @apply h-full;
}
html,
body {
  @apply h-full;
}

@layer utilities {
  .bleed-wrapper {
    --breathing-room: 16px;
    display: grid;
    grid-template-columns:
      1fr
      90%
      1fr;
    padding-left: var(--breathing-room);
    padding-right: var(--breathing-room);
  }
  .bleed-wrapper > * {
    grid-column: 2;
  }
  .full-bleed {
    grid-column: 1 / -1;
    margin-left: calc(var(--breathing-room) * -1);
    margin-right: calc(var(--breathing-room) * -1);
  }

  .fancy-shadow {
    box-shadow: 1px 4px #45b7f4;
  }
  .fancy-shadow:hover {
    transform: translateY(4px);
    box-shadow: 0px 0px #45b7f4;
  }
}
